<h1 class="text-primary">Favorite books of people</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Title</th>
      <th scope="col">Author</th>
      <th scope="col">Added by</th>
      <th scope="col">Publish</th>
      <th scope="col" *ngIf="!user.isOrganization">Actions</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let post of posts">
      <td>{{ post.id }}</td>
      <td>{{ post.title }}</td>
      <td>{{ post.author }}</td>
      <td>{{ post.addedBy }}</td>
      <td>{{ post.publishDate }}</td>
      <ng-container *ngIf="user.isOrganization === 'true'">
        <td>
          <a class="btn btn-link" [routerLink]="['/Books', 'edit', post.id]"
            >Edit</a
          >
          <button
            *ngIf="user.isOrganization"
            type="button"
            class="btn btn-link"
            (click)="onDeleteClick(post.id)"
          >
            Delete
          </button>
        </td>
      </ng-container>
    </tr>
  </tbody>
</table>
