<div class="card" style="width: 18rem">
  <div class="card-body">
    <h5 class="card-title">{{ card.title }}</h5>
    <h6 class="card-subtitle mb-2 text-muted">{{ card.publishDate }}</h6>
    <p class="card-text">
      {{ card.content }}
    </p>

    <button
      type="button"
      class="btn btn-outline-primary"
      (click)="likeCurrentCard()"
    >
      Like this post
    </button>

    <a
      class="btn btn-outline-success"
      [routerLink]="['/Posts', 'edit', card.id]"
      >Edit</a
    >
    <button
      type="button"
      class="btn btn-outline-danger"
      (click)="cardDelete.emit(card.id)"
    >
      Delete post
    </button>
  </div>
</div>
