<form #form="ngForm" (ngSubmit)="onSubmit()">
  <div class="mb-3">
    <label for="title" class="form-label">Title</label>
    <input
      type="text"
      class="form-control"
      name="title"
      id="title"
      placeholder="Enter title..."
      aria-describedby="titleHelp"
      [(ngModel)]="post.title"
      #titleControl="ngModel"
      minlength="5"
      required
    />

    <small
      *ngIf="
        titleControl.touched &&
        titleControl.invalid &&
        titleControl.hasError('required')
      "
      class="text-danger"
    >
      This field is required
    </small>

    <small
      *ngIf="
        titleControl.touched &&
        titleControl.invalid &&
        titleControl.hasError('minlength')
      "
      class="text-danger"
      >You have to enter at least 5 simbols</small
    >
  </div>
  <div class="mb-3">
    <label for="content" class="form-label">Content</label>
    <input
      type="text"
      class="form-control"
      name="content"
      id="content"
      placeholder="Enter content..."
      [(ngModel)]="post.content"
      #contentControl="ngModel"
      minlength="10"
      required
    />
  </div>

  <small
    *ngIf="
      contentControl.touched &&
      contentControl.invalid &&
      contentControl.hasError('required')
    "
    class="text-danger"
  >
    This field is required
  </small>
  <small
    *ngIf="
      contentControl.touched &&
      contentControl.invalid &&
      contentControl.hasError('minlength')
    "
    class="text-danger"
    >You have to enter at least 10 simbols</small
  >

  <button
    type="submit"
    class="btn btn-primary"
    [attr.disabled]="!form.valid ? true : null"
  >
    {{ post.id ? "Update" : "Add" }}
  </button>
</form>
