<h3>
  {{ !post.id ? "Add book" : "Update book" }}
</h3>

<form #form="ngForm" (ngSubmit)="onSubmit()">
  <div class="mb-3">
    <label for="title" class="form-label">Title</label>
    <input
      type="text"
      class="form-control"
      name="title"
      id="title"
      placeholder="Enter title..."
      aria-describedby="titleHelp"
      [(ngModel)]="post.title"
      #titleControl="ngModel"
      minlength="5"
      required
    />

    <small
      *ngIf="
        titleControl.touched &&
        titleControl.invalid &&
        titleControl.hasError('required')
      "
      class="text-danger"
    >
      This field is required
    </small>

    <small
      *ngIf="
        titleControl.touched &&
        titleControl.invalid &&
        titleControl.hasError('minlength')
      "
      class="text-danger"
      >You have to enter at least 5 simbols</small
    >
  </div>
  <div class="mb-3">
    <label for="author" class="form-label">Author</label>
    <input
      type="text"
      class="form-control"
      name="author"
      id="author"
      placeholder="Enter content..."
      [(ngModel)]="post.author"
      #authorControl="ngModel"
      minlength="5"
      required
    />
  </div>

  <small
    *ngIf="
      authorControl.touched &&
      authorControl.invalid &&
      authorControl.hasError('required')
    "
    class="text-danger"
  >
    This field is required
  </small>
  <small
    *ngIf="
      authorControl.touched &&
      authorControl.invalid &&
      authorControl.hasError('minlength')
    "
    class="text-danger"
    >You have to enter at least 5 simbols</small
  >

  <button
    type="submit"
    class="btn btn-primary"
    [attr.disabled]="!form.valid ? true : null"
  >
    {{ post.id ? "Update" : "Add" }}
  </button>

  <button type="button" class="btn btn-outline-dark" (click)="onBack()">
    {{ post.id ? "Back" : "Cancel" }}
  </button>
</form>
